.jfx-date-picker .text-field{
-jfx-unfocus-color: #a0a2ab;
-jfx-focus-color: #2196f3;
-fx-prompt-text-fill: #a0a2ab;
-fx-text-fill: #2196f3;
}

.combo-box,
.choice-box {
    -fx-font-size: 12px;
    -fx-prompt-text-fill: #a0a2ab;
    -fx-text-fill: #2196f3;;
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #bdbdbd;
    -fx-padding: 0 0 3 -8;
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: #a0a2ab;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #a0a2ab;
}